{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul style="display: flex; align-items: center;">
        {% if user.is_authenticated %}
        <li><a href="{% url 'blog:index' %}">Lista de blogs</a></li>
        
        <li>
          <form id="logout-form" action="{% url 'logout' %}" method="POST" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" style="padding: 5px 5px; background-color: #ffffff; border: none; color: rgb(5, 5, 5); cursor: pointer; font-size: 16px;">Cerrar sesión</button>
          </form>
        </li>

        <li><a href="{% url 'user_detail' user.pk %}">Información de Miembro</a></li> 
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'signup' %}">Registrar usuario</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>
