body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.video-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#video {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: .8rem 2rem;
  font-size: 16px;
  background-color: purple;
  color:aliceblue;
  border-radius: 15px;
}
